<div class="container">

<footer class="footer">

<small>

Copyright © <a href="enter in a link here">Alpha Blog Web App</a>

by <a href="enter in a link here">Giorgi Tamarashvili</a>

</small>

<nav>

<ul>

</ul>

</nav>

</footer>

</div>